<%- include("partials/header") -%>


<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input  class="form-control" name="postTitile" placeholder="Enter title">
    <label >Post</label>
    <textarea class="form-control" name="postPost" cols="160" rows="10"></textarea>
  </div>
  <button class="btn btn-primary" name="button">Publish</button>
</form>



<%- include("partials/footer") -%>